streamlit
openai
# google-generativeai
google-genai
ollama
fpdf
python-docx
python-pptx
pandas
openpyxl
requests
beautifulsoup4
youtube-transcript-api>=0.6.0
googlesearch-python
anthropic
groq
lmstudio
